<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--<link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'>-->

</head>
<body>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating green"><i class="material-icons">camera</i></a></li>
        <li>
            <form id="fileUploadForm" method="POST" enctype="multipart/form-data" action="/">
                <label for="fileUploadInput" class="btn-floating orange">
                    <i class="material-icons">attach_file</i>
                </label>
                <input class="upload-button" type="file" name="file" id="fileUploadInput" onchange="form.submit()" />
            </form>
        </li>
    </ul>
</div>

<nav class="blue" role="navigation">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" style="text-align: center" class="brand-logo">Aleri Dokumenten Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Dokumenten</a></li>

            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="section">

        <div class="row" >
            <h5 class="right" th:text="${document.fileName}"></h5>
            <div class="col s12">
                <form method="POST" th:object="${document}" action="/update">
                    <input type="hidden" id="id" name="id" th:value="*{id}"/>
                    <h6>Eingegangen</h6>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="entrancePerson" name="entrancePerson" th:value="*{entrancePerson}" />
                            <label for="entrancePerson">Wer</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="entranceDate" class="datepicker" name="entranceDate" th:value="*{entranceDate}" />
                            <label for="entranceDate">Datum</label>
                        </div>
                    </div>
                    <h6>Freigegeben</h6>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="approvalPerson1" name="approvalPerson1" th:value="*{approvalPerson1}" />
                            <label for="approvalPerson1">Sachlich richtig</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="approvalPerson2" name="approvalPerson2" th:value="*{approvalPerson2}" />
                            <label for="approvalPerson2">Freigegeben</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="approvalDate" class="datepicker" name="approvalDate" th:value="*{approvalDate}" />
                            <label for="approvalDate">Datum</label>
                        </div>
                    </div>
                    <h6>Schicken</h6>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="shippmentDate" class="datepicker" name="shippmentDate" th:value="*{shippmentDate}" />
                            <label for="shippmentDate">Sachlich richtig</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="comment" name="comment" th:value="*{comment}" />
                            <label for="comment">Kommentar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn blue waves-effect waves-light" type="submit" name="action">Sparen
                                <i class="material-icons right">send</i>
                            </button>
                            <a class="btn-flat blue-text" th:href="${document.downloadLink}"><i class="material-icons">cloud_download</i></a>
                        </div>
                    </div>


                    <!--<input type="text" id="entranceDate" name="entranceDate" th:value="*{entranceDate}" />-->
                    <!--<input type="text" id="entrancePerson" name="entrancePerson" th:value="*{entrancePerson}" />-->
                    <!--<input type="text" id="approvalDate" name="approvalDate" th:value="*{approvalDate}" />-->
                    <!--<input type="text" id="approvalPerson1" name="approvalPerson1" th:value="*{approvalPerson1}" />-->
                    <!--<input type="text" id="approvalPerson2" name="approvalPerson2" th:value="*{approvalPerson2}" />-->
                    <!--<input type="text" id="shippmentDate" name="shippmentDate" th:value="*{shippmentDate}" />-->
                    <!--<input type="text" id="comment" name="comment" th:value="*{comment}" />-->

                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js}"></script>
<script type="text/javascript">
    M.AutoInit();
</script>
</body>
</html>