<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--<link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'>-->

</head>
<body>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating green"><i class="material-icons">camera</i></a></li>
        <li>
            <form id="fileUploadForm" method="POST" enctype="multipart/form-data" action="/">
                <label for="fileUploadInput" class="btn-floating orange">
                    <i class="material-icons">attach_file</i>
                </label>
                <input class="upload-button" type="file" name="file" id="fileUploadInput" onchange="form.submit()" />
            </form>
        </li>
    </ul>
</div>

<nav class="blue" role="navigation">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" style="text-align: center" class="brand-logo">Aleri Dokumenten Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Dokumenten</a></li>

            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="section">

        <div class="row" >
            <div class="col s12 center">
                <!--<div>-->
                    <!--<ul>-->
                        <!--<li th:each="document : ${documents}">-->
                            <!--<a th:href="${document.downloadLink}" th:text="${document.fileName}" />-->
                            <!--<form method="POST" th:object="${document}" action="/update">-->
                                <!--<input type="hidden" id="id" name="id" th:value="*{id}"/>-->

                                <!--<input type="text" id="entranceDate" name="entranceDate" th:value="*{entranceDate}" />-->
                                <!--<input type="text" id="entrancePerson" name="entrancePerson" th:value="*{entrancePerson}" />-->
                                <!--<input type="text" id="approvalDate" name="approvalDate" th:value="*{approvalDate}" />-->
                                <!--<input type="text" id="approvalPerson1" name="approvalPerson1" th:value="*{approvalPerson1}" />-->
                                <!--<input type="text" id="approvalPerson2" name="approvalPerson2" th:value="*{approvalPerson2}" />-->
                                <!--<input type="text" id="shippmentDate" name="shippmentDate" th:value="*{shippmentDate}" />-->
                                <!--<input type="text" id="comment" name="comment" th:value="*{comment}" />-->

                                <!--<input type="submit" value="Save" />-->
                            <!--</form>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

                <div>
                    <table class="responsive-table highlight">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>File name</th>
                            <th>Eingegangen</th>
                            <th>Freigegeben</th>
                            <th>Schicken</th>
                            <th>Kommentar</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="document : ${documents}">
                            <td th:text="${document.id}">xx</td>
                            <td th:text="${document.fileName}">xx</td>

                                <td>
                                    <div th:text="${document.entrancePerson}">xx</div>
                                    <div th:text="${document.entranceDate}">xx</div>
                                </td>
                            <td>
                                <div th:text="${document.approvalDate}">xx</div>
                                <div th:text="${document.approvalPerson1}">xx</div>
                                <div th:text="${document.approvalPerson2}">xx</div>
                            </td>
                            <td>
                                <div th:text="${document.shippmentDate}">xx</div>
                            </td>
                            <td>
                                <div th:text="${document.comment}">xx</div>
                            </td>
                            <td>
                                <a class="btn btn-flat" th:href="@{/document/{id}(id=${document.id})}" ><i class="material-icons">edit</i></a>
                                <a class="btn btn-flat" ><i class="material-icons">delete</i></a>
                                <a class="btn-flat" th:href="${document.downloadLink}"><i class="material-icons">cloud_download</i></a>
                                <!--<a th:href="${document.downloadLink}" th:text="${document.fileName}" />-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js}"></script>
    <script type="text/javascript">
        M.AutoInit();
    </script>
    <div th:if="${message}">
        <script type="text/javascript">
            M.toast({html: 'Erfolgreich hinzugefügt', classes: 'green'});
        </script>
    </div>
</body>
</html>